

/* Defines div for current-location-time component (box) */
.currLocation {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 10px;
    padding: 0 20px 20px 20px;
}