.container {
  max-width: 1080px;
  margin: 20px auto; 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
}

.parallel-components {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .parallel-components {
    flex-direction: column;
  }
}